<?xml version="1.0" encoding="utf-8"?>

<!--
Sample license text.
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="svcOutlookAddinSoap">
          <security mode="Transport" />
        </binding>
        <binding name="svcOutlookAddinSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://yourserver/Services/svcOutlookAddin.asmx" binding="basicHttpBinding" bindingConfiguration="svcOutlookAddinSoap" contract="OutlookServices.svcOutlookAddinSoap" name="svcOutlookAddinSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <contexts>
      <context type="EmailHandler.Common.Configuration.ConfigurationDb, EmailHandler.Common">
        <databaseInitializer type="EmailHandler.Common.Configuration.ConfigurationDbInitializer, EmailHandler.Common" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="ConfigurationDb" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MyEmailHandler;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;" providerName="System.Data.SqlClient" />
    <add name="SQLPersistenceStoreDb" connectionString="Data Source=(localdb)\Projects;Initial Catalog=SQLPersistenceStore;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>

    <!-- AppEmailFrom: The email address used to send notifications from this application-->
    <add key="AppEmailFrom" value="Your Email&lt;youremail@domain&gt;"/>
    <!-- AppEmailSmtpHost: The smtp host used to send application notifications -->
    <add key="AppEmailSmtpHost" value="server"/>
    <!-- AppEmailUser: user used to authenticate against the smtp server -->
    <add key="AppEmailUser" value="user@domain.com"/>
    <!-- AppEmailPassword: user passowrd for smtp authentication-->
    <add key="AppEmailPassword" value="pass"/>

    <!-- The supervisor email address used for notfications -->
    <add key="SupervisorEmailAddress" value="youraddress@yourdomain.com"/>

    <!-- The user name & password used to authenticate to smarter mail server to add tasks -->
    <add key="TasksUserName" value="your smarter mail your"/>
    <add key="TasksUserPassword" value="your password"/>

  </appSettings>
</configuration>